<%= form_with(model: @article, local: true) do |form| %>

<% if @article.errors.any? %>
<div id="error_explanation">
	<h2>
		<%= pluralize(@article.errors.count, "errors") %> prohibited this article from being saved:
	</h2>
	<ul>
		<% @articles .errors.full_message.each do %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<p>
	<%= form.label :title %><br>
	<%= form.text_field :title %>
</p>

<p>
	<%= form.label :text %><br>
	<%= form.text_area :text %>
</p>

<p>
	<%= form.label :pengarang %><br>
	<%= form.text_field :pengarang %>
</p>


<p>
	<%= form.submit %>
</p>

<% end %>