<h1>Listing article</h1>
 <%= link_to 'new article', new_article_path %>
 <div class=".col -1">
<table class="table table-hover">
<table  border = 2 >
  <thead class="table-secondary">
  <tr> 
    <th scope="col">Title</th>
    <th scope="col">Text</th>
    <th scope="col"> pengarang</th>
    <th colspan="3"></th>
  </tr>
  </thead>
 
  <% @articles.each do |article| %> 
  <tbody>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.pengarang %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'edit', edit_article_path(article) %></td>
      <td>
        <%= link_to 'destroy', article_path(article),
              method: :delete,
              data: { confirm: 'are you sure?'} %>    
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>